<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>GMS</title>
	</head>
	<body>
		<h1>GameMakerショートカットPDF/PNG</h1>
		<br><br>
		<a href="/GMScheetsheets.zip" download="smple.zip">GMScheetsheets.zip/download</a>
		<br><br>
		<p>PDFとPNGの2セットが5枚(計10)をダウンロードできます。内容は<a href="https://manual.yoyogames.com/IDE_Navigation/Keyboard_Shortcuts.htm">マニュアル</a>の転写です。</p>
		<img src="/cheet_sheet1.png" alt="">
		<br>
	</body>
</html>