<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>GMS</title>
	</head>
	<body>
		<h1>GameMakerショートカットPDF</h1>
		<a href="https://manual.yoyogames.com/IDE_Navigation/Keyboard_Shortcuts.htm">マニュアル</a>の転写
		<br>
		<img src="cheetsheet1.png" alt="">
		<br>
	</body>
</html>