---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>aosjmi</title>
	</head>
	<body>
		<h1>aosjmi</h1>
		<p>ここは aosjmi の個人サイトです。</p>
		<a href="/about">About</a>
		<a href="/article/gms-shortcut">GameMakerショートカットPDF/PNGまとめ</a>
	</body>
</html>
